{% extends 'base.html.twig' %}

{% block title %}Book index{% endblock %}

{% block body %}
    <h1>Book index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>StartDate</th>
                <th>EndDate</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td>{{ book.id }}</td>
                <td>{{ book.startDate ? book.startDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ book.endDate ? book.endDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ book.status }}</td>
                <td>
                    <a href="{{ path('app_booking_show', {'id': book.id}) }}">show</a>
                    <a href="{{ path('app_booking_edit', {'id': book.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_booking_new') }}">Create new</a>
{% endblock %}
